<!DOCTYPE html>
<html>
  <head>
    <title>raiz-forte</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>
  <header>
    <div id="main-container" class="container">
      <div class="col header">
        <div class="col-sm-5 pull-left">
          <div class="logo-image">
            <%= image_tag("/LOGO 3.png") %>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <div class="logo-name">
            <%= image_tag("/TIPOGRAFIA BLACK.png") %>
          </div>
        </div>
        <div class="col-sm-5 pull-right">
          <div class="logo-image">
            <%= render partial: "layouts/navbar" %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <body>
    <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% end %>
  
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        Raiz Forte <%= Time.now.year %>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>
