<!DOCTYPE html>
<html>
  <head>
    <title>raiz-forte</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>
  <header>
    <div id="main-container" class="container">
      <div class="col header">
        <div class="hidden-xs hidden-sm col-md-4 pull-left">
          <div class="logo-image">
            <%= image_tag("/LOGO 3.png") %>
          </div>
        </div>
        <div class="visible-xs pull-left">
          <%= render partial: "layouts/navbar" %>
        </div>
        <div class="hidden-sm col-md-4 text-center">
          <%= link_to(root_path) do %>
            <div class="logo-name">
              <%= image_tag("/TIPOGRAFIA BLACK.png") %>
            </div>
          <% end %>
        </div>
        <div class="visible-sm pull-left">
          <%= link_to(root_path) do %>
            <div class="logo-name">
              <%= image_tag("/LOGO 1.png") %>
            </div>
          <% end %>
        </div>
        <div class="hidden-xs col-md-4 pull-right">
          <%= render partial: "layouts/navbar" %>
        </div>
      </div>
    </div>
  </header>
  <body>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% end %>
  
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class='container body-container'>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
  <footer>
    <div class="container text-center">
      Raiz Forte <%= Time.now.year %>
      |
      <%= link_to "sobre raiz-forte", sobre_path %>
      |
      <%= link_to "contato", contato_path %>
      |
      <%= link_to "parcerias", parceiras_path %>
    </div>
  </footer>
</html>
